<!DOCTYPE html>

<head>
    <title>WhySoSecure</title>
</head>

<body>
    <main>
        <h1>Public key:</h1>
        <p hidden>{{pub_key}}</p>
        <form method="POST" action="{{ url_for('create_room') }}">
            <input type="text" name="room_name">

            <button type="submit">
                create room
            </button>
        </form>
        <form method="POST" action="{{ url_for('join_room') }}">
            <input type="text" name="room_name">

            <button type="submit">
                join room
            </button>
        </form>
    </main>
</body>